@import "tailwindcss";

@theme {
  --color-primary: #db143c;
  --color-background-light: #ffffff;
  --color-background-dark: #000000;

  --font-anton: var(--font-anton);
  --font-mono: var(--font-mono);

  --shadow-hard: 8px 8px 0px 0px #000000;
  --shadow-hard-sm: 4px 4px 0px 0px #000000;
  --shadow-hard-white: 6px 6px 0px 0px #ffffff;
  --shadow-hard-crimson: 6px 6px 0px 0px #db143c;
  --shadow-hard-xl: 12px 12px 0px 0px #000000;
}
